$primaryColor: #3498db;
$secondaryColor: #2ecc71;
$fontFamily: 'Helvetica Neue', Arial, sans-serif, 'roboto';
$fontcolor: #333;

$defaultFont: 'roboto', sans-serif;
$lightWeight: 300;
$regularWeight: 400;    
$boldWeight: 700;
$extraBoldWeight: 800;

$gutterWidth: 20px;